<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : spring-context.xml
    Created on : 16 December 2013, 19:39
    Author     : turner
    Description:
        Purpose of the document follows.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
          
          
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.h2.Driver"/>
    <property name="url" value="jdbc:h2:mem:test-pets"/>
    <property name="username" value=""/>
    <property name="password" value=""/>
  </bean>
  
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>
  
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>
  
  <bean id="customerDAO" class="org.turner.persistence.CustomerDAO">
    <constructor-arg ref="entityManagerFactory"/>
  </bean>

</beans>
